* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.wawe {
    background-image: url(./wn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    width: 70%;
    margin: 0 auto;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto Condensed;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.6000000238418579px;
    text-align: left;
    padding-top: 35px;


}
.logo {
}
.link {
    color: #FFFFFF;
    color: #FFF;
    font-family: Roboto Condensed;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-decoration: none;

    transition: all 0.3s;
}

.link:hover {
    border-bottom: 1px solid #00B2A0 ;
    width: 60px;
    height: 1px;
}

.box {
    margin: 200px auto;
    width: max-content;
    text-align: center;
}

.box-text {
    color: #000;
font-family: Roboto Condensed;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;

margin-top: 20px;
}